<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item style="color: white" routerLink ="/dashboard" routerLinkActive="active">
        <i class="material-icons md-light">
          dashboard
        </i>DashBoard</a>
      <a mat-list-item style="color: white" routerLink ="/survey" routerLinkActive="active">
        <i class="material-icons md-light">
          question_answer
        </i>Survey</a>
      <a mat-list-item style="color: white" href="#">
        <i class="material-icons md-light">
          account_circle
        </i>Profile</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SurveyProject</span>
      <span class="spacer"></span>
      <a mat-list-item href="#">Search<i class="material-icons md-light">
        search
      </i></a>
      <a mat-list-item href="#"></a>
      <button mat-list-item style="background-color: transparent;border: none" (click)="signOut()">Log Out</button>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>