.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.spacer{
  flex: 1 1 auto;
}
.toolbar_header{
  background-color: rgba(24, 40, 255, 0.767);
}
mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  color:white;
  text-decoration: none;
}
mat-sidenav-container{
}
mat-sidenav{
  background-color: #f96332;
}
.material-icons{ color:rgb(13, 44, 46) }