<app-mainpageheader></app-mainpageheader>

<section id="main-slider" class="no-margin">
    
  <div class="carousel slide">
      <nav class="navbar navbar-inverse" role="banner">
          <div class="container">

            <div class="collapse navbar-collapse navbar-right">
              <ul class="nav navbar-nav">              
                <li><a [routerLink]="['loginPage/signUp']">Register</a></li>
                <li><a [routerLink]="['loginPage']">Login</a></li>
              </ul>
            </div>
          </div>
        </nav>
      
    <div class="carousel-inner">
      
      <div class="item active" style="background-image: url(../../assets/img/slider/bg1.jpg)">
        
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <div class="carousel-content">
                 
                <h1 class="animation animated-item-1">Make a bold statement</h1>
                <div class="animation animated-item-2">
                  Grab your visitors' attention front and center on your homepage, then give them an action to take.
                </div>
                <!-- <a class="btn-slide animation animated-item-3" href="#">Learn More</a> -->
                <a class="btn-slide white animation animated-item-3" href="#">Get Started</a>
              </div>
            </div>

          </div>
        </div>
      </div>
      -->
    </div>
    <!--/.carousel-inner-->
  </div>
</section>
<section class="description" style="align-content: center">
  <div style="text-align: center">
    <h1 style="color: #EC5538">Is your company at risk?</h1>
    <br />
    <p class="lead" style="text-align: left;font-size: 22px;">
      Managing cyber risks is important for many reasons: aside from the direct losses incurred through cyber attacks,
      the Privacy Act 1988 in Australia and the EU General Data Protection Regulation (GDPR) imposes severe penalties on
      companies that are not compliant.
      <br /><br /><br />
      The only way to understand your cyber risks is measuring and monitoring them over time. Created by a panel of
      world experts in cybersecurity, the 100 point Cyber Check provides an easy, reliable way to diagnose cyber
      problems from a legal, regulatory, business operations and technical perspective.
      <br /><br /><br />
      Once you complete the 100 point Cyber Check, we will provide you with a diagnosis and referral to remedy any
      deficiencies in your cyber security programme through our extensive range of solution partners.
    </p>
  </div>
</section>

<section id="services" class="service-item">
  <div class="container">
    <div class="center fadeInDown" style="text-align: center">
      <h1 style="color: #EC5538">Our Service</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br>
        et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>

    <div class="row">

      <div class="col-sm-6 col-md-4">
        <div class="media services-wrap fadeInDown">
          <div class="pull-left">
            <img class="img-responsive" src="../../assets/img/services/ux.svg">
          </div>
          <div class="media-body">
            <h3 class="media-heading">UI/UX Design</h3>
            <p>Hydroderm is the highly desired anti-aging cream on</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="media services-wrap fadeInDown">
          <div class="pull-left">
            <img class="img-responsive" src="../../assets/img/services/web.svg">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Web Design</h3>
            <p>Hydroderm is the highly desired anti-aging cream on</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="media services-wrap fadeInDown">
          <div class="pull-left">
            <img class="img-responsive" src="../../assets/img/services/motion.svg">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Motion Graphics</h3>
            <p>Hydroderm is the highly desired anti-aging cream on</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="media services-wrap fadeInDown">
          <div class="pull-left">
            <img class="img-responsive" src="../../assets/img/services/mobile-ui.svg">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Mobile UI/UX</h3>
            <p>Hydroderm is the highly desired anti-aging cream on</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="media services-wrap fadeInDown">
          <div class="pull-left">
            <img class="img-responsive" src="../../assets/img/services/web-app.svg">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Web Applications</h3>
            <p>Hydroderm is the highly desired anti-aging cream on</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="media services-wrap fadeInDown">
          <div class="pull-left">
            <img class="img-responsive" src="../../assets/img/services/mobile-ui.svg">
          </div>
          <div class="media-body">
            <h3 class="media-heading">SEO Marketing</h3>
            <p>Hydroderm is the highly desired anti-aging cream on</p>
          </div>
        </div>
      </div>

    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</section>

<section id="testimonial">
  <div class="container" style="text-align: center">
    <div class="center fadeInDown">
      <h1 style="color: #EC5538">Testimonials</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br>
        et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>
    <div class="testimonial-slider owl-carousel owl-loaded owl-drag">
      <owl-carousel-o [options]="customOptions">
        <!-- <div class="owl-stage"
          style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2250px;"> -->
        <ng-template class="owl-item active" style="width: 345px; margin-right: 30px;" carouselSlide>
          <mat-card>
            <div class="single-slide ">
              <div class="slide-img">
                <img src="../../assets/img/client1.jpg" alt="">
              </div>
              <div class="content">
                <img src="../../assets/img/review.png" alt="">
                <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in
                  price.</p>
                <h4>- Charlotte Daniels</h4>
              </div>
            </div>
          </mat-card>
        </ng-template>
        <ng-template class="owl-item active" style="width: 345px; margin-right: 30px;" carouselSlide>
          <mat-card>
            <div class="single-slide">
              <div class="slide-img">
                <img src="../../assets/img/client2.jpg" alt="">
              </div>
              <div class="content">
                <img src="../../assets/img/review.png" alt="">
                <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in
                  price.</p>
                <h4>- Charlotte Daniels</h4>
              </div>
            </div>
          </mat-card>
        </ng-template>
        <ng-template class="owl-item" style="width: 345px; margin-right: 30px;" carouselSlide>
          <mat-card>
            <div class="single-slide">
              <div class="slide-img">
                <img src="../../assets/img/client3.jpg" alt="">
              </div>
              <div class="content">
                <img src="../../assets/img/review.png" alt="">
                <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in
                  price.</p>
                <h4>- Charlotte Daniels</h4>
              </div>
            </div>
          </mat-card>
        </ng-template>
        <ng-template class="owl-item" style="width: 345px; margin-right: 30px;" carouselSlide>
          <mat-card>
            <div class="single-slide">
              <div class="slide-img">
                <img src="../../assets/img/client2.jpg" alt="">
              </div>
              <div class="content">
                <img src="../../assets/img/review.png" alt="">
                <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in
                  price.</p>
                <h4>- Charlotte Daniels</h4>
              </div>
            </div>
          </mat-card>
        </ng-template>
        <ng-template class="owl-item" style="width: 345px; margin-right: 30px;" carouselSlide>
          <mat-card>
            <div class="single-slide">
              <div class="slide-img">
                <img src="../../assets/img/client1.jpg" alt="">
              </div>
              <div class="content">
                <img src="../../assets/img/review.png" alt="">
                <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in
                  price.</p>
                <h4>- Charlotte Daniels</h4>
              </div>
            </div>
          </mat-card>
        </ng-template>
        <ng-template class="owl-item" style="width: 345px; margin-right: 30px;" carouselSlide>
          <mat-card>
            <div class="single-slide">
              <div class="slide-img">
                <img src="../../assets/img/client3.jpg" alt="">
              </div>
              <div class="content">
                <img src="../../assets/img/review.png" alt="">
                <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in
                  price.</p>
                <h4>- Charlotte Daniels</h4>
              </div>
            </div>
          </mat-card>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>

<section id="partner">
  <div class="container">
    <div class="center fadeInDown">
      <h2>Our Partners</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br>
        et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>

    <div class="partners">
      <ul>
        <li>
          <a href="#"><img class="img-responsive fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"
              src="../../assets/img/partners/brand-1.png"></a>
        </li>
        <li>
          <a href="#"><img class="img-responsive fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms"
              src="../../assets/img/partners/brand-2.png"></a>
        </li>
        <li>
          <a href="#"><img class="img-responsive fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms"
              src="../../assets/img/partners/brand-3.png"></a>
        </li>
        <li>
          <a href="#"><img class="img-responsive fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms"
              src="../../assets/img/partners/brand-4.png"></a>
        </li>
        <li>
          <a href="#"><img class="img-responsive fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms"
              src="../../assets/img/partners/brand-5.png"></a>
        </li>
      </ul>
    </div>
  </div>
  <!--/.container-->
</section>
<!-- <button type="button" id="loginBtn" [routerLink]="['loginPage']" class="btn btn-primary">Login/SignUp</button> -->