<header id="header">
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-xs-12">
          <!-- <div class="top-number">
            <p>
              <i class="fas fa-phone-square"></i>+61- 12345678
            </p>
          </div> -->
           <div class ="site-details">
            <p style="color: white">
              <i class="site-title">
                  The 100 Point Cyber Check™ 
              </i>
              <i class="line">
                |
              </i>
              <i class="site-description">
                   We find cyber risks!
              </i>
            </p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="social">
            <ul class="social-share">
              <li>
                <a href="#">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-twitter-square"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-skype"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-inverse" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="../../assets/img/login_img.png" alt="logo" width="50" height="50"></a>
        </div>

        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Portfolio</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Blog Single</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">404</a></li>
                    </ul>
                </li>
                <li><a [routerLink]="['loginPage']">Login</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
    <!--/.container-->
</nav>

</header>

<section id="main-slider" class="no-margin">
  <div class="carousel slide">
      <div class="carousel-inner">

          <div class="item active" style="background-image: url(../../assets/img/slider/bg1.jpg)">
              <div class="container">
                  <div class="row">
                      <div class="col-md-7">
                          <div class="carousel-content">
                              <h1 class="animation animated-item-1">Make a bold statement</h1>
                              <div class="animation animated-item-2">
                                Grab your visitors' attention front and center on your homepage, then give them an action to take.
                              </div>
                              <!-- <a class="btn-slide animation animated-item-3" href="#">Learn More</a> -->
                              <a class="btn-slide white animation animated-item-3" href="#">Get Started</a>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
        -->
      </div>
      <!--/.carousel-inner-->
  </div>
</section>
  <section class="description"style="align-content: center">
      <div style="text-align: center">
          <h1 style="color: #EC5538">Is your company at risk?</h1>
          <br/>
          <p class="lead" style="text-align: left;font-size: 22px;">
              Managing cyber risks is important for many reasons: aside from the direct losses incurred through cyber attacks, the Privacy Act 1988 in Australia and the EU General Data Protection Regulation (GDPR) imposes severe penalties on companies that are not compliant.
              <br/><br/><br/>
              The only way to understand your cyber risks is measuring and monitoring them over time. Created by a panel of world experts in cybersecurity, the 100 point Cyber Check provides an easy, reliable way to diagnose cyber problems from a legal, regulatory, business operations and technical perspective.
              <br/><br/><br/>
              Once you complete the 100 point Cyber Check, we will provide you with a diagnosis and referral to remedy any deficiencies in your cyber security programme through our extensive range of solution partners.
          </p>
      </div>
  </section>

  <section id="services" class="service-item">
      <div class="container">
          <div class="center fadeInDown" style="text-align: center">
              <h1 style="color: #EC5538">Our Service</h1>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
          </div>

          <div class="row">

              <div class="col-sm-6 col-md-4">
                  <div class="media services-wrap fadeInDown">
                      <div class="pull-left">
                          <img class="img-responsive" src="../../assets/img/services/ux.svg">
                      </div>
                      <div class="media-body">
                          <h3 class="media-heading">UI/UX Design</h3>
                          <p>Hydroderm is the highly desired anti-aging cream on</p>
                      </div>
                  </div>
              </div>

              <div class="col-sm-6 col-md-4">
                  <div class="media services-wrap fadeInDown">
                      <div class="pull-left">
                          <img class="img-responsive" src="../../assets/img/services/web.svg">
                      </div>
                      <div class="media-body">
                          <h3 class="media-heading">Web Design</h3>
                          <p>Hydroderm is the highly desired anti-aging cream on</p>
                      </div>
                  </div>
              </div>

              <div class="col-sm-6 col-md-4">
                  <div class="media services-wrap fadeInDown">
                      <div class="pull-left">
                          <img class="img-responsive" src="../../assets/img/services/motion.svg">
                      </div>
                      <div class="media-body">
                          <h3 class="media-heading">Motion Graphics</h3>
                          <p>Hydroderm is the highly desired anti-aging cream on</p>
                      </div>
                  </div>
              </div>

              <div class="col-sm-6 col-md-4">
                  <div class="media services-wrap fadeInDown">
                      <div class="pull-left">
                          <img class="img-responsive" src="../../assets/img/services/mobile-ui.svg">
                      </div>
                      <div class="media-body">
                          <h3 class="media-heading">Mobile UI/UX</h3>
                          <p>Hydroderm is the highly desired anti-aging cream on</p>
                      </div>
                  </div>
              </div>

              <div class="col-sm-6 col-md-4">
                  <div class="media services-wrap fadeInDown">
                      <div class="pull-left">
                          <img class="img-responsive" src="../../assets/img/services/web-app.svg">
                      </div>
                      <div class="media-body">
                          <h3 class="media-heading">Web Applications</h3>
                          <p>Hydroderm is the highly desired anti-aging cream on</p>
                      </div>
                  </div>
              </div>

              <div class="col-sm-6 col-md-4">
                  <div class="media services-wrap fadeInDown">
                      <div class="pull-left">
                          <img class="img-responsive" src="../../assets/img/services/mobile-ui.svg">
                      </div>
                      <div class="media-body">
                          <h3 class="media-heading">SEO Marketing</h3>
                          <p>Hydroderm is the highly desired anti-aging cream on</p>
                      </div>
                  </div>
              </div>

          </div>
          <!--/.row-->
      </div>
      <!--/.container-->
  </section>

  <section id="testimonial">
      <div class="container" style="text-align: center">
          <div class="center fadeInDown" >
              <h1 style="color: #EC5538">Testimonials</h1>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
          </div>
          <div class="testimonial-slider owl-carousel">
              <div class="single-slide">
                  <div class="slide-img">
                      <img src="../../assets/img/client1.jpg" alt="">
                  </div>
                  <div class="content">
                      <img src="../../assets/img/review.png" alt="">
                      <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price.</p>
                      <h4>- Charlotte Daniels</h4>
                  </div>
              </div>
              <div class="single-slide">
                  <div class="slide-img">
                      <img src="../../assets/img/client2.jpg" alt="">
                  </div>
                  <div class="content">
                      <img src="../../assets/img/review.png" alt="">
                      <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price.</p>
                      <h4>- Charlotte Daniels</h4>
                  </div>
              </div>
              <div class="single-slide">
                  <div class="slide-img">
                      <img src="../../assets/img/client3.jpg" alt="">
                  </div>
                  <div class="content">
                      <img src="../../assets/img/review.png" alt="">
                      <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price.</p>
                      <h4>- Charlotte Daniels</h4>
                  </div>
              </div>
              <div class="single-slide">
                  <div class="slide-img">
                      <img src="../../assets/img/client2.jpg" alt="">
                  </div>
                  <div class="content">
                      <img src="../../assets/img/review.png" alt="">
                      <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price.</p>
                      <h4>- Charlotte Daniels</h4>
                  </div>
              </div>
              <div class="single-slide">
                  <div class="slide-img">
                      <img src="../../assets/img/client1.jpg" alt="">
                  </div>
                  <div class="content">
                      <img src="../../assets/img/review.png" alt="">
                      <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price.</p>
                      <h4>- Charlotte Daniels</h4>
                  </div>
              </div>
              <div class="single-slide">
                  <div class="slide-img">
                      <img src="../../assets/img/client3.jpg" alt="">
                  </div>
                  <div class="content">
                      <img src="../../assets/img/review.png" alt="">
                      <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price.</p>
                      <h4>- Charlotte Daniels</h4>
                  </div>
              </div>
          </div>
      </div>
  </section>


  <!-- <button type="button" id="loginBtn" [routerLink]="['loginPage']" class="btn btn-primary">Login/SignUp</button> -->