<header id="header">
    <div class="top-bar">
      <div class="container">
        <div class="row">
          <div class="col-sm-9 col-xs-12">
            <!-- <div class="top-number">
              <p>
                <i class="fas fa-phone-square"></i>+61- 12345678
              </p>
            </div> -->
            <div class="site-details">
              <p style="color: white">
                <i class="site-title">
                  The 100 Point Cyber Check™
                </i>
                <i class="line">
                  |
                </i>
                <i class="site-description">
                  We find cyber risks!
                </i>
              </p>
            </div>
          </div>
          <div class="col-sm-3 col-xs-12">
            <div class="social">
              <ul class="social-share">
                <li>
                  <a href="#">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter-square"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-skype"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-inverse" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../../assets/img/login_img.png" alt="logo" width="50"
              height="50"></a>
        </div>
  
        <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">FAQ</a></li>
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">Blog Single</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">404</a></li>
              </ul>
            </li> -->
            <!-- <li><a [routerLink]="['loginPage']">Login</a></li> -->
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <!--/.container-->
    </nav>
  
  </header>